doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Miskre")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-icon", href="/assets/img/icon.png")
    link(rel="apple-touch-startup-image", href="/assets/img/launch.png")
    link(rel="shortcut icon", href="/assets/img/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/assets/img/favicon.ico" + "?rand=" + Math.random(), type="image/x-icon")
    link(rel="stylesheet", href="/assets/css/index.css")
    title miskre - empowering the decentralized world
    // facebook graph markup
    meta(property="og:url" content="https://home.miskre.org/")
    meta(property="og:title" content="miskre - A community driven blockchain")
    meta(property="og:description" content="A revolutionary blockchain project that will change money as we know it.")
    meta(property="og:type" content="article")
    meta(property="fb:app_id" content="725786064476346")
    meta(property="og:image" content="https://home.miskre.org/assets/img/og.2.jpg")
    meta(property="og:image:secure_url" content="https://home.miskre.org/assets/img/og.2.jpg")
    meta(property="og:image:type" content="image/jpeg")
    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="315")
  body
    #menu.h
      block menu
    #top-bar
      a.menu(href="#" data-aos="fade-right" data-aos-duration="1000")
        img(src="/assets/img/menu.svg")
      a.logo(href="/" data-aos="fade-down" data-aos-duration="1000")
        img(src="/assets/img/logo.v2.svg")
      block primary
    #social-bar(data-aos="fade-right" data-aos-duration="1000")
      a(href="#")
        img(src="/assets/img/twitter.v2.svg")
      a(href="#")
        img(src="/assets/img/facebook.v2.svg")
      a(href="#")
        img(src="/assets/img/telegram.v2.svg")
      a(href="#")
        img(src="/assets/img/slack.v2.svg")
      //- a(href="#")
        img(src="/assets/img/medium.v2.svg")
    .remodal-bg
      block modals
      block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/91/three.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js")
    block js
