@import 'keywords'
@import 'settings'

@import 'components/bases'
@import 'components/visibility'
@import 'components/grids'
@import 'components/block-grids'
@import 'components/types'
@import 'components/labels'
@import 'components/buttons'
@import 'components/top-bar'
@import 'components/off-screen-menus'
@import 'components/content-slider'
@import 'components/dropdowns'
@import 'components/breadcrumbs'
@import 'components/utilities'
@import 'components/helpers'

@import 'components/app-grids'
@import 'components/progress-bars'
@import 'components/alert-boxes'
@import 'components/paginations'
@import 'components/switches'
  
ul.vm
  list-style none
  margin 0
  padding 20px 0
  background linear-gradient(top, darken(white, 3), transparent)
  > li
    &.d
      h4
        padding 5px 25px
        font-size rem-calc(12)
        font-weight 600
        text-transform uppercase
        letter-spacing 1px
        margin 15px 0 5px 0
    > a
      padding 6px 25px
      color steel
      display block
      font-size rem-calc(13)
      &:hover
        color white
        background-color info-color