@import 'components/bases.settings'
@import 'components/functions'
@import 'components/media-queries.settings'
@import 'components/visibility.settings'
@import 'components/types.settings'
@import 'components/grids.settings'
@import 'components/block-grids.settings'
@import 'components/labels.settings'
@import 'components/buttons.settings'
@import 'components/dropdowns.settings'
@import 'components/breadcrumbs.settings'
@import 'components/top-bar.settings'
@import 'components/off-screen-menus.settings'
@import 'components/content-slider.settings'
@import 'components/utilities.settings'

@import 'components/app-grids.settings'
@import 'components/progress-bars.settings'
@import 'components/alert-boxes.settings'
@import 'components/paginations.settings'
@import 'components/switches.settings'

include-helpers = true