block var

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Miskre")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-icon", href="/assets/img/icon.png")
    link(rel="apple-touch-startup-image", href="/assets/img/launch.png")
    link(rel="shortcut icon", href="/assets/img/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/assets/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/assets/css/index.css")
    - title = title || '404'
    title #{title} - Miskre 
  body
    .remodal-bg
      block modals
      block content
    script(src="/assets/js/index.js")